<div class="nav-bar">
  <nav>
      <a routerLinkActive="active" routerLink="/home">Home</a>
      <a routerLinkActive="active" routerLink="/angular">Angular</a>
      <a routerLinkActive="active" routerLink="/data-structure">Data Structure</a>
      <a routerLinkActive="active" routerLink="/javascript">Javascript</a>
      <a routerLinkActive="active" routerLink="/node">Node</a>
      <a routerLinkActive="active" routerLink="/mongodb">MongoDB</a>
      <a routerLinkActive="active" routerLink="/css">CSS</a>
      <a routerLinkActive="active" routerLink="/dotnet">Dot Net</a>
      <a routerLinkActive="active" routerLink="/react">React</a>
      <a routerLinkActive="active" routerLink="/aws">Aws</a>
      <a routerLinkActive="active" routerLink="/sql">SQL</a>
  </nav>

</div>
