@import 'variables';
@import './../../../src/assets/styles';

.border{
    border:1px solid $primary_3;
   
}
.box{
    margin-top: 10px;
    width: 100%;
    border: 1px solid rgb(46, 122, 192)
}
.box-item{
    display: inline-block;
    width: 33.33%;
    height: 200px;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
}
.q_border{
    width: 80%;
    margin:auto;
    height: 100px;
    margin-top: 50px;
    padding-top: 18px;
    box-sizing: border-box;
}
.border_y{
    border: 1px solid yellowgreen;
}
.q_padding{
   padding-top: 100px;
}
.q_margin{
    margin-top: 100px;
}
.flex{
    display: flex;
    width: 100%;
    height: 120px;
    background-color: Silver;
    margin-bottom: 10px;
}
.flex-container {
    display: flex;
    width: 100%;
    height: 240px;
    background-color: Silver;
    margin-bottom: 10px;
}

.flex-item {
    background-color: DeepSkyBlue;
    width: 20%;
    height: 100px;
    margin: 5px;
}
.flex-item1 {
    background-color: DeepSkyBlue;
    width: 20%;
    margin: 5px;
}
.btn{
   margin: 16px; 
}
.border1{
    border:1px solid rebeccapurple
}

/*//////////////////////Grid*/
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    margin-top: 20px;
    width: 600px;
    height:400px;
    margin: auto;
    margin-top:15px;
    margin-bottom: 30px;
}
.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    text-align: center;
}
/*Tricks*/

.center1{
    padding: 20px;
    text-align: center;
}
.center2{
    margin: auto;
    width: 50%;
    text-align: center;}
    
.center3 {
    height: 200px;
    position: relative;
  }
  .center3 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  } 
/*Basic*/

.p-box1{
    height: 300px;
    width: 600px;
    border: 1px solid yellowgreen;
    position: relative;
}
.p-box2{
    height: 100px;
    width: 300px;
    border: 1px solid salmon;
}
.p-relative{
    position: relative;
    top: 80px;
    left: 150px;
}
.p-fixed{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
.p-absolute{
    position: absolute;
    top: 100px;
    left: 100px;
}
.p-sticky{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

