<div class="row mr-3">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="row">
    <nav>
        <a routerLink="/home">Home</a>&nbsp;
        <a routerLink="/sort">Sort</a>&nbsp;
        <a routerLink="/list">List</a>&nbsp;
        <a routerLink="/bst">BST</a>&nbsp;
        <a routerLink="/hashing">Hashing</a>&nbsp;
        <a routerLink="/date">Gaurd route</a>&nbsp;
        <a routerLink="/heros">Heros</a>&nbsp;
        <a routerLink="/first-component">first-component</a> 
        <a routerLink="../second-component">Relative Route to second component</a>
        <a routerLink="/attributeDirective">attributeDirective</a>
      </nav>
      
</div>
<!-- <app-game1></app-game1> -->

<div class="row">
    <router-outlet></router-outlet>

</div>
