
Hero Details
<div>
    {{junk}}
44444444
    Name : {{hero?.name}}
</div>
<div>
    Last Name : {{hero?.lastName}}
</div>

<div>
    222222222222222222222222
    {{test[0]||'not found'}}
    {{test[9]||"not' found 9"}}
    <input type="text">

</div>
<div>
    <input type="text" placeholder="{{test[3]||'abhishek' }}" />
    <input type="text" placeholder="{{test[13]||'444444444444444444' }}" />
</div>
abhishek



 
<!-- <video controls  loop="true" autoplay="true" width="500" height="300">
    <source  type="video/mp4" src="../assets/test.mp4">
        Sorry, your browser doesn't support embedded videos.
</video> -->

