<p>
  <button (click)="start()">start</button>
</p>
<div class="row">
  <div class="col-sm-7">
    <ul>
      <li>
        Best for deleting and inserting the data takes O(n) times better than array
      </li>
      <li>
        Finding element takes O(n) time loop throuh all. Array is fast Binary sarch 
      </li>
      <li>
        Link list is made of node each node is point to the next node
      </li>
      <li>
        Singly link list : Current node point to next
        Doubly link list : Current node point to next and previous node
      </li>
    </ul>
  </div>
  <div class="col-sm-5">
    <div>
      <h4>Code</h4>
    </div>
    <pre>
      <code [innerHTML]=code[1]></code>
    </pre>
    <pre>
      <code [innerHTML]=code[0]></code>
    </pre>
  </div>
 
</div>
